# Remove the previous line if you edit this file

# Export all names
export(
    dmRbarPlot,
    dmRbarProps,
    dmRcenterMap,
    dmRcolPercentsPie,
    dmRcrfBarPlot,
    dmRcrfs,
    dmRctQcs,
    dmRfreqTable,
    dmRlegend,
    dmRlegScales,
    dmRmergeDataModule,
    dmRqcsPerPlate,
    dmRrowPercentsPie,
    dmRvisitSchedule,
    dmRwkToDate     
)

# Import all packages listed as Imports or Depends
import(
  chron,
  RgoogleMaps,
  rgdal,
  sp,
  sqldf,
  xtable,
  utils
)
